# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.tox/
.coverage
.cache
.coveralls.yml
nosetests.xml
coverage.xml

# Mac OS
.DS_Store

# IDEs
.project
.pydevproject
.idea

# Temp files
docs/source/includes/*_app.py
*.sqlite
example_apps/translations/

# Private files
example_apps/local_settings.py
example_apps/translations/