# Python packages
bcrypt>=1.1
cryptography==3.2
passlib>=1.7.0

# Flask & Flask Extensions
Flask==1.0.2
Flask-BabelEx==0.9.3
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-WTF==0.14.2

# SQLAlchemy testing
Flask-SQLAlchemy==2.2

# Mongo DB testing
#MongoEngine<0.11    # 0.11.0 dropped support for python 2.6
#Flask-MongoEngine==0.9.3

# EmailAdapter testing
sendgrid==5.2.0
Flask-Sendmail==0.1

# Development packages
pytest==3.0.5
pytest-cov==2.5.1
Sphinx==1.6.3
tox==2.5.0
twine==1.9.1
