# Python packages
bcrypt>=1.1
itsdangerous>=0.17
passlib>=1.6.4
pycryptodome>=3.0

# Flask & Flask Extensions
Flask>=0.9
Flask-BabelEx>=0.9
Flask-Login>=0.2
Flask-Mail>=0.7.3
Flask-WTF>=0.9

# SQLAlchemy testing
Flask-SQLAlchemy>=1.0

# Mongo DB testing
Flask-MongoAlchemy==0.7.2

# Development packages
pytest==3.0.5
pytest-cov==2.5.1
Sphinx==1.6.3
tox==2.5.0
twine==1.8.1
Flask-Sphinx-Themes==1.0.1

