# Flask
Flask==0.10.1

# Flask extensions
Flask-Babel==0.9
Flask-Login==0.2.9
Flask-Mail==0.9.0
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.4

# Python packages
passlib==1.6.5
bcrypt==2.0.0
pycryptodome==3.4.3
speaklater==1.3

