# Flask & Flask Extensions
Flask>=0.9
Flask-BabelEx>=0.9
Flask-Login>=0.2
Flask-Mail>=0.7.3
Flask-SQLAlchemy>=1.0
Flask-WTF>=0.9

# Python packages
bcrypt>=1.1
itsdangerous>=0.17
passlib>=1.6.4
pycryptodome>=3.0

# Development packages
pytest==3.0.5
Sphinx==1.5.1
tox==2.5.0
twine==1.8.1

