{% extends "flask_user/_flask_user_base.html" %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1>{%trans%}Sign in{%endtrans%}</h1>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {% if user_manager.login_with_username %}
        {{ render_field(form.username) }}
    {% else %}
        {{ render_field(form.email) }}
    {% endif %}
    {{ render_field(form.password) }}
    {{ render_submit_field(form.submit) }}
</form>

    <br/>
{% if user_manager.enable_forgot_password %}
    <p>{%trans%}Forgot your Password?{%endtrans%} <a href="{{ url_for('user.forgot_password') }}">{%trans%}Reset Password{%endtrans%}</a></p>
{% endif %}
{% if user_manager.enable_registration %}
    <p>{%trans%}New to the system?{%endtrans%} <a href="{{ url_for('user.register') }}">{%trans%}Register{%endtrans%}</a></p>
{% endif %}

{% endblock %}