{% extends "flask_user/_flask_user_base.html" %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1>{%trans%}Sign in{%endtrans%}</h1>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}

    {# Username or Email #}
    {% set field = form.username if user_manager.enable_username else form.email %}
    {% set right_url = url_for("user.register") %}
    {% set right_label = _('New here? Register.') %}
    {{ render_field(field, right_url=right_url, right_label=right_label) }}

    {# Password #}
    {% set right_url = url_for("user.forgot_password") if user_manager.enable_forgot_password else None %}
    {% set right_label = _('Forgot your Password?') if user_manager.enable_forgot_password else None %}
    {{ render_field(form.password, right_url=right_url, right_label=right_label) }}

    {# Submit button #}
    {{ render_submit_field(form.submit) }}
</form>

{% endblock %}