{% extends "flask_user/_flask_user_base.html" %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1>{%trans%}Register{%endtrans%}</h1>

<form action="" method="POST" novalidate formnovalidate class="form" role="form">
    {{ form.hidden_tag() }}

    {# Username or Email #}
    {% set field = form.username if user_manager.enable_username else form.email %}
    {% set right_url = url_for("user.login") %}
    {% set right_label = _('Already registered? Login.') %}
    {{ render_field(field, right_url=right_url, right_label=right_label) }}

    {% if user_manager.enable_email and user_manager.enable_username %}
        {{ render_field(form.email) }}
    {% endif %}

    {{ render_field(form.password) }}

    {% if user_manager.enable_retype_password %}
        {{ render_field(form.retype_password) }}
    {% endif %}

    {{ render_submit_field(form.submit) }}
</form>

{% endblock %}