{% extends "flask_user/_flask_user_base.html" %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1>{%trans%}Register{%endtrans%}</h1>

<form action="" method="POST" novalidate formnovalidate class="form" role="form">
    {{ form.hidden_tag() }}

    {# Username or Email #}
    {% set field = form.username if user_manager.enable_usernames else form.email %}
    {% set right_label = '<a href="' + url_for("user.login") + '">' + 'Already registered? Login.' + '</a>' %}
    {{ render_field(field, right_label=right_label) }}

    {% if user_manager.enable_emails and user_manager.enable_usernames %}
        {{ render_field(form.email) }}
    {% endif %}

    {{ render_field(form.password) }}

    {% if user_manager.enable_retype_passwords %}
        {{ render_field(form.enable_retype_passwords) }}
    {% endif %}

    {{ render_submit_field(form.submit) }}
</form>

{% endblock %}