{% extends "flask_user/_flask_user_base.html" %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h1>{%trans%}Reset Password{%endtrans%}</h1>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.new_password) }}
    {% if user_manager.enable_retype_password %}
        {{ render_field(form.retype_password) }}
    {% endif %}
    {{ render_submit_field(form.submit) }}
</form>

{% endblock %}