{% extends "html_base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-7 col-lg-6 col-centered">
            <h1><a href="/">{% block title %}Flask-User - {% if not user_manager.enable_confirm_email %}Minimal{% else %}Example{% endif %} App{% endblock %}</a></h1>
            {% if not user_manager.enable_confirm_email %}
            This Minimal App has no Email confirmation or Forgot password.<br/>
            See <a href="http://pythonhosted.org//Flask-User/basic_app.html" target="_blank">Basic App</a> for an app with these features enabled.
            {% endif %}
            <hr>
            {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='error' %}
                                {% set category='danger' %}
                            {% endif %}
                            <div class="alert alert-{{category}}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {%- endwith %}
            {% endblock %}

            {% block content %}
            {% endblock %}
            <hr>
            Copyright 2013 - SolidBuilds.com
        </div>
    </div>
</div>
{% endblock %}
