{% extends "base.html" %}

{% block content %}
<h1>Home</h1>
{% if not current_user.is_authenticated() %}
    <p><a href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a></p>
    {% if user_manager.enable_registration %}
        <p><a href="{{ url_for('user.register') }}">{%trans%}Register{%endtrans%}</a></p>
    {% endif %}
    {% if user_manager.enable_forgot_password %}
        <p><a href="{{ url_for('user.forgot_password') }}">{%trans%}Forgot Password?{%endtrans%}</a></p>
    {% endif %}
{% else %}
    <p></p>{%trans%}Hello{%endtrans%} {{ current_user.username or current_user.email }}</p>
    {% if user_manager.enable_change_username %}
        <p><a href="{{ url_for('user.change_username', next='/') }}">{%trans%}Change username{%endtrans%}</a></p>
    {% endif %}
    {% if user_manager.enable_change_password %}
        <p><a href="{{ url_for('user.change_password', next='/') }}">{%trans%}Change password{%endtrans%}</a></p>
    {% endif %}
    <p><a href="{{ url_for('user.logout') }}">{%trans%}Sign out{%endtrans%}</a></p>
{% endif %}
{% endblock %}